<ActionBar >
    <NavigationButton ios:visibility="collapsed" icon="font://&#xf0c9;"  class="fas size" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="font://&#xf0c9;" android:visibility="collapsed"   class="fas size" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Home"></Label>
  </ActionBar>

  <StackLayout>
      <GridLayout>
        <Carousel #myCarousel debug="true" [items]="featured" height="100%" width="100%" color="white" (pageChanged)="myChangePageEvent($event)"
                android:indicatorAnimation="slide" indicatorColor="#fff" indicatorOffset="0, -10" showIndicator="true">
            <CarouselItem *ngFor="let item of featured" backgroundColor="#ffffff" verticalAlignment="middle" (tap)="myTapPageEvent()">
                <GridLayout rows="auto auto auto" class="p-10 border">
                    <Image row="0" [src]="item.image" stretch="aspectFill"></Image>
                    <Label row="1" [text]="item.name" horizontalAlignment="center" backgroundColor="#50000000" height="30"></Label>
                    <Label row="2" style="font-size: 14;" [text]="item.description" backgroundColor="#50000000" textWrap="true"></Label>
                </GridLayout>
            </CarouselItem>
        </Carousel>
    </GridLayout>
    <label
      text="Indicator animation type: 'slide'"
      textWrap="true"
      ios:visibility="collapsed"
      margin="10,0,0,0"
    ></label>
  </StackLayout>

